<style>

@font-face {
font-family: 'sf-display';
font-weight: normal;
font-style: normal;
src: url('fonts/sf-display/SanFranciscoDisplay-Regular.otf') format('opentype');
}

@font-face {
font-family: 'sf-display';
font-weight: normal;
font-style: italic;
src: url('fonts/sf-display/SanFranciscoDisplay-RegularItalic.otf') format('opentype');
}

@font-face {
font-family: 'sf-display';
font-weight: bold;
font-style: normal;
src: url('fonts/sf-display/SanFranciscoDisplay-Bold.otf') format('opentype');
}

@font-face {
font-family: 'sf-display';
font-weight: bold;
font-style: italic;
src: url('fonts/sf-display/SanFranciscoDisplay-BoldItalic.otf') format('opentype');
}

@font-face {
font-family: 'cmu-text-decorated';
font-weight: normal;
font-style: italic;
src: url('fonts/cmu-text/CMUSerif-UprightItalic.otf') format('opentype');
}

@font-face {
font-family: 'cmu-text';
font-weight: normal;
font-style: normal;
src: url('fonts/cmu-text/CMUSerif-Roman.otf') format('opentype');
}

@font-face {
font-family: 'cmu-text';
font-weight: normal;
font-style: italic;
src: url('fonts/cmu-text/CMUSerif-Italic.otf') format('opentype');
}

@font-face {
font-family: 'cmu-text';
font-weight: bold;
font-style: normal;
src: url('fonts/cmu-text/CMUSerif-BoldNonextended.otf') format('opentype');
}

@font-face {
font-family: 'cmu-text';
font-weight: bold;
font-style: italic;
src: url('fonts/cmu-text/CMUSerif-BoldItalic.otf') format('opentype');
}

@font-face {
font-family: 'sf-mono';
font-weight: normal;
font-style: normal;
src: url('fonts/sf-mono/SFMono-Regular.otf') format('opentype');
}

@font-face {
font-family: 'sf-mono';
font-weight: normal;
font-style: italic;
src: url('fonts/sf-mono/SFMono-RegularItalic.otf') format('opentype');
}

@font-face {
font-family: 'sf-mono';
font-weight: bold;
font-style: normal;
src: url('fonts/sf-mono/SFMono-Bold.otf') format('opentype');
}

@font-face {
font-family: 'sf-mono';
font-weight: bold;
font-style: italic;
src: url('fonts/sf-mono/SFMono-BoldItalic.otf') format('opentype');
}

/* GLOBALS */

html {
    font-size: 16px !important;
}

body {
    background-color: #FFF !important;
    color: #828282;
    font-weight: normal;
    font-family: "sf-mono", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: inherit;
    vertical-align: middle;
}

body .notebook-app {
    background-color: #FFF !important;
}

#header {
    box-shadow: none !important;
}

#notebook {
    padding-top: 0px;
    font-family: "cmu-text", "Times New Roman", serif;

}

.container {
	width: 940px;
}
#site {
	overflow: inherit;
}
#notebook-container {
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0px;
}

.nav > li > a {
	padding:  10px;
}

div.output_wrapper {
    margin-top: 8px;
}

a {
    color: #383838;
}

code,
kbd,
pre,
samp {
    font-family: 'sf-mono', 'Menlo', 'Courier New', monospace !important;
    font-size: 0.75rem !important;
}

h1 {
	font-family:  "cmu-text", "Times New Roman", serif !important;
    font-size: 1.6rem !important;
    font-weight: 300 !important;
    color: #000000 !important;
    /* letter-spacing: 3px !important; */
    text-transform: normal !important;
    text-align: center !important;
    padding-top:  3rem;
    padding-bottom: 3rem;
    /*border-bottom: 1px dotted #000000 !important;*/
}

h2 {
	font-family:  "cmu-text", "Times New Roman", serif !important;
    font-size: 1.25rem !important;
    font-weight: bold !important;
    color: #000000 !important;
    text-transform: none !important;
    margin: 2rem 0 0.75rem !important;
}

h3 {
	font-family:  "cmu-text", "Times New Roman", serif !important;
    font-size: 1.125rem !important;
    font-weight: normal !important;
    font-style: italic !important;
    color: #000000 !important;
    display: block !important;
    margin: 1.25rem 0 0.75rem !important;
}

h4 {
	font-style: italic;
	text-decoration: underline;
}
h4,
h5,
h6 {
	font-family:  "cmu-text", "Times New Roman", serif !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    display: block !important;
    color: #000000;
    margin: 0.5rem 0 0.25rem !important;

}

.prompt {
    font-family: 'sf-mono', 'Menlo', 'Courier New', monospace !important;
    font-style: normal;
    font-size: 0.75rem;
    text-align: right;
    line-height: 1rem;
}






    div.cell{
        width:800px;
        margin-left:16% !important;
        margin-right:auto;
    }
    h1 {
        font-family: Helvetica, serif;
    }
    h2 {
        font-family: Helvetica, sans-serif;
	color: blue
    }
    h3 {

	color: gray
    }
    h4{
        margin-top:12px;
        margin-bottom: 3px;
       }
    div.text_cell_render{
        font-family: Computer Modern, serif;
        line-height: 145%;
        font-size: 130%;
        width:800px;
        margin-left:auto;
        margin-right:auto;
    }
    .CodeMirror{
            font-family: "Source Code Pro", source-code-pro,Consolas, monospace;
    }
    .prompt{
        display: None;
    }
    .text_cell_render h5 {
        font-weight: 300;
        font-size: 22pt;
        color: #4057A1;
        font-style: italic;
        margin-bottom: .5em;
        margin-top: 0.5em;
        display: block;
    }

    .warning{
        color: rgb( 240, 20, 20 )
        }

    .MathJax {
        font-size: 1em;
    }

    div.important {
       background-color: #fcf2f2;
       border-color: #dFb5b4;
       border-left: 5px solid #dfb5b4;
       padding: 0.5em;
    }

    div.exc {
       background-color: lightgray;
       border-color: lightgray;
       border-left: 5px solid gray;
       padding: 0.5em;
    }

    div.sol {
       background-color: lightgray;
       border-color: lightgray;
       border-left: 5px solid gray;
       padding: 0.5em;
    }

    li{
       margin: 10px 0;
    }

    ol ol { list-style-type: upper-alpha; important! }
    ol ol ol { list-style-type: lower-alpha; important! }

</style>
<script>
    MathJax.Hub.Config({
                TeX: {
                        extensions: ["AMSmath.js"],
			Macros: {
      				RR: '{\\bf TOM}',                // a simple string replacement
      				bold: ['\\boldsymbol{#1}',1]   // this macro has one parameter
    			}
                },
		tex2jax: {
            		inlineMath: [ ["$","$"], ["\\(","\\)"] ],
                displayMath: [ ["$$","$$"], ["\\[","\\]"] ],
            		processEscapes: true,
            		processEnvironments: true
        	},
                "HTML-CSS": {
                    styles: {'.MathJax_Display': {"margin": 0}},
                    availableFonts: ["TeX","STIX-Web","Neo-Euler"],
                    preferredFont: "Neo-Euler",
                },
        });
</script>
